<div id="description">
<h1><a href="/" title="to Home"><img border="0" alt="Home" src="./img/Home.png"></a> Game "Find Double"</h1>
    <p>Angular2 sample</p>
    <p>Instructions: Open cards, find double.</p>
</div>

<list></list>

<div id="credits">
    <div> author: <a href="http://yaroslavl.hh.ru/resume/ff4eef08ff035dd8a80039ed1f4f7949763954">Karachevtsev Yu.Yu.</a></div>
    <div> source:  <a href="https://github.com/grammidin4eg/finddouble">GitHub</a></div>
    <div> email: mail_ego@list.ru </div>
</div>
