<div>
  <mat-card class="container">
    <form [formGroup]="form" (ngSubmit)="addPlayer()" class="form">
      <mat-form-field class="name-field">
        <label>
          <input formControlName="playerName" [formControl]="form.get('playerName')" required matInput
                 placeholder="Имя">
        </label>
      </mat-form-field>
      <button mat-raised-button color="primary">Добавить</button>
    </form>
    <mat-chip-list aria-label="Последние добавленные" class="last-container">
      <mat-chip>One fish</mat-chip>
      <mat-chip>Two fish</mat-chip>
    </mat-chip-list>
    <mat-divider></mat-divider>
    <mat-list *ngFor="let player of playerList;let i = index;">
      <mat-list-item>
        <div class="player-item">
          <span class="player-item-text">{{i + 1}}: {{player}}</span>
          <button mat-button color="primary" (click)="removePlayer(i)">Убрать</button>
        </div>
      </mat-list-item>
    </mat-list>
    <div *ngIf="!playerList.length" class="player-empty">Список пока пуст, введите имя и добавьте участника.</div>
    <mat-divider></mat-divider>
    <button class="random-button" [disabled]="playerList.length < 5" (click)="randomIt()" mat-raised-button
            color="primary">RANDOM!
    </button>
  </mat-card>
</div>
